<ion-view view-title="BIENVENIDO">
    <br/>
      <ion-content>
        <div class="row">
          <div class="col col-100">
            <img ng-src="img/espol.png" style="width:100%"></img>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="text-center">
            <h4 style="text-align: center;">
              Bienvenido a la aplicación de Admisiones ESPOL</h4>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
