<ion-view view-title="Horarios de Clases">
  <ion-content>
  &nbsp;<h4>ARTE</h4>
    <div class="row" ng-repeat="item in [1,2]">
      <div class="col col-100">
        <img ng-src="img/horarios/arte/{{item}}.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>INGENIERIA MATUTINO</h4>
    <div class="row" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <div class="col col-100">
        <img ng-src="img/horarios/matutina/{{item}}M.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>INGENIERIA VESPERTINO</h4>
    <div class="row" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
      <div class="col col-100">
        <img ng-src="img/horarios/vespertina/{{item}}V.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>COMERCIAL</h4>
    <div class="row" ng-repeat="item in [1,2,3,4]">
      <div class="col col-100">
        <img ng-src="img/horarios/comercial/{{item}}.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>ACUICULTURA</h4>
    <div class="row">
      <div class="col col-100">
        <img ng-src="img/horarios/Acuicultura.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>NUTRICIÓN</h4>
    <div class="row" >
      <div class="col col-100">
        <img ng-src="img/horarios/Nutricion.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
  &nbsp;<h4>TURISMO</h4>
    <div class="row" >
      <div class="col col-100">
        <img ng-src="img/horarios/Turismo.PNG" style="width:100%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
