
<ion-view view-title="Registrar Datos">
  <ion-nav-bar class="bar-calm">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
  </ion-nav-bar>
    <br/>
    <ion-content>
      <div class="im-wrapper">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombres</span>
          <input type="text" ng-model='usuario.nombres' placeholder="Primer Nombre">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellidos</span>
          <input type="text" placeholder="Apellidos" ng-model='usuario.apellidos'>
        </label>
        <br />
        <button ng-click="guardar()" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
          Guardar
        </button>
        </div>
    </ion-content>
</ion-view>
