
<ion-view view-title="Registrar Datos">
    <br/>
    <ion-content>
      <div class="im-wrapper">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombres</span>
          <input type="text" ng-model='usuario.nombres' placeholder="Primer Nombre">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellidos</span>
          <input type="text" placeholder="Apellidos">
        </label>
        <br />
        <button ng-click="guardar()" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
          Guardar
        </button>
        </div>
    </ion-content>
</ion-view>
