<!-- <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
    <i class="icon ion-social-twitter"></i>
</button> -->
<ion-view view-title="Materias Registradas">
    <br/>
    <ion-content>
      <ion-list>
        <a class="item"  ng-repeat="item in materias">
           {{item.nombre|uppercase}}
           <span class="item-note">
               {{item.paralelo|uppercase}}
           </span>
        </a>
        <ion-item ng-hide="materias.length">
          No hay materias registradas aun
        </ion-item>
      </ion-list>
    </ion-content>
    <button ng-click="showAddMateriaModal()" class="button button-positive button-fab button-fab-bottom-right">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>
