<ion-view view-title="Tutorias">
  <br/>
  <ion-content>
  <div class="row">
    &nbsp;<h4>QUÍMICA</h4>
  </div>
    <div class="row">
      <div class="col col-100">
        <img ng-src="img/tutorias/Quimica.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
    <div class="row">
      &nbsp;<h4>MATEMÁTICAS</h4>
    </div>
    <div class="row">
      <div class="col col-100">
        <img ng-src="img/tutorias/Matematicas.PNG" style="width:100%"></img>
      </div>
    </div>
    <br/>
    <div class="row">
      &nbsp;<h4>FÍSICA</h4>
    </div>
    <div class="row">
      <div class="col col-100">
        <img ng-src="img/tutorias/Fisica.PNG" style="width:100%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
